# Jekyll configuration
title: Connecticut Ave Dental Studio
description: Refined Dentistry in the Heart of DC
url: ""
baseurl: ""

# Build settings
markdown: kramdown
permalink: /blog/:title/

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Collections
defaults:
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
