# Jekyll configuration
title: Connecticut Ave Dental Studio
description: Discover world-class dental care in Cleveland Park. Modern technology, personalized service, and a patient-first approach. Schedule your appointment today!
url: ""
baseurl: ""

# Build settings
markdown: kramdown
permalink: /blog/:title/

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Collections
defaults:
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
