# Jekyll configuration
title: Connecticut Ave Dental Studio
description: Expert dental care with compassionate service. Schedule your personalized consultation today and achieve a healthier, brighter smile with our skilled professionals.
url: ""
baseurl: ""

# Build settings
markdown: kramdown
permalink: /blog/:title/

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Collections
defaults:
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
